.crackthecode {

    .crackthecode__hint {

        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #eaeaea36;
        padding-bottom: 1rem;
        align-items: center;
        margin-bottom: 1rem;

        @include LAPTOP(){
            flex-direction: row;
            padding-bottom: unset;
            border:unset;
        }

        &__numbers {

            margin-right: 1rem;
            display: flex;
            gap: 10px;
            padding-bottom: 1rem;

            &__number {

                padding: 1rem;
                background: white;
                border-radius: 50%;
                color: black;
                font-weight: 800;
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.25rem;

            }

        }

        &__text {
            font-size: 1.125rem;
            font-weight: 600;
            text-align: center;
        }

    }

}