.gamefield {

    &__header {

        margin-bottom: 2.5rem;

        .title {

            text-align: left;

            width: 75% ;

            @include TABLET(){
                width: 50%;
            }

            @include LAPTOP(){
                text-align: center;
                width: unset;
            }

            color: $color-purple;
        }
    }

    &__content {
        background: $color-blue;
        padding: 1rem;
    }

    .game {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;

        @media screen and (max-width: 1200px) {
            align-items: center;
        }

        @include DESKTOP(){
            flex-direction: row;
            margin-top: -25px;
            align-items: center;
        }

        &__sudoku {
            flex: 1;
            display: contents;

            .grid {
                width: 475px;
                margin-top: 30px;

                @media screen and (max-width: 600px) {
                    width: auto;
                }
            }

            @include DESKTOP(){
                max-width: 800px;
            }
        }

        &__vault {

            position: relative;
            flex: 1;

            .wrong_code {
                padding: 30px 10px 40px 10px;
                line-height: 1rem;
                width: 450px;
                background-color: #870b9b;
                text-align: center;
                border-radius: 70px;
                margin: 0 auto;
                position: absolute;
                z-index: 99;
                left: 0;
                right: 0;
                top: 25%;
                -webkit-animation-name: buzz-out-on-hover;
                animation-name: buzz-out-on-hover;
                -webkit-animation-duration: 3s;
                animation-duration: 3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;

                h1 {
                    font-size: 5rem;
                    margin: 0;
                    line-height: 5rem;
                }

                @media screen and (max-width: 600px) {
                    width: 350px;

                    h1 {
                        font-size: 4rem;
                        line-height: 4rem;
                    }
                }

                @media screen and (max-width: 600px) {
                    width: 250px;
                    border-radius: 50px;

                    h1 {
                        font-size: 3rem;
                        line-height: 3rem;
                    }
                }
            }



            &__video {

                position: relative;
                overflow: hidden;

                video {
                    width: 100%;
                    margin-top: -100px;
                    margin-left: -90px;

                    @media screen and (max-width: 1200px) {
                        margin-top: 0px;
                        margin-left: -150px;
                        width: 600px;
                    }

                    @media screen and (max-width: 500px) {
                        margin-top: 0px;
                        margin-left: -100px;
                        width: 400px;
                    }
                }

            }
 
            &__input {
                position: absolute;
                top: -140px;
                left: -5px;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 600px) {
                    right: 0;
                }



                input {
                    border-radius: 50%;
                    border: none;
                    outline: none;
                    background: #00a3a0;
                    margin-right: .1rem;
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    font-size: 2rem;
                    box-sizing: border-box;

                    &:last-child {
                        margin-right: unset;
                    }

                    @include DESKTOP(){
                        width: 50px;
                        height: 50px;
                    }

                }

                @media screen and (max-width: 1200px) {
                    top: -80px;
                    left: 0;

                    input {
                        width: 40px;
                        height: 40px;
                    }
                }

                @media screen and (max-width: 500px) {
                    top: -50px;
                    left: 2px;

                    input {
                        max-width: 40px;
                        max-height: 40px;
                        min-width: 40px;
                        min-height: 40px;
                        padding: 0;
                    }
                }


            }

            @include DESKTOP(){
                max-width: 800px;
            }

        }
    }
}
.popup-wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: zoom-in-popup;
    animation-name: zoom-in-popup;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: scale(0);
    .popup {

        text-align: center;
        padding: 4rem 2rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 1rem rgb(0 0 0 / 30%);

        .title {
            margin-bottom: 1rem;
            font-size: 4rem;
            line-height: 4rem;


            @include TABLET(){
                font-size: 6.5rem;
                line-height: 6.5rem;
            }

        }

        .explain {
            font-style: italic;
            font-size: 1rem;
            padding-bottom: 15px;
        }

        .send-btn {
            background: $color-l-blue;
            padding: 1.5rem 4rem;
            border-radius: 15px;
            color: white;
            font-weight: bold;
            text-decoration: blink;
        }

        &.succes {
            background-color: $color-purple;
        }

    }

}