.hero {

    .footer-text {

        margin-bottom: 2rem;

        @include DESKTOP(){
            margin-bottom: unset;
        }
    }

    position: relative;

    &__vertical-bars {
        background: $color-purple;
        position: absolute;
        width: 100%;
        height: 100%;

        @include DESKTOP {
            background: linear-gradient(to right, rgba(79, 35, 122, 0.9) 0 30%, rgba(0, 69, 143, 0.9) 30% 47%, rgba(254, 255, 254, 0) 35% 100%);
        }

    }

    &__wrap {
        display: flex;
        flex-direction: column;

        @include DESKTOP(){
            flex-direction: row;
            align-items: flex-end;
        }

    }

    &__header {
        position: relative;
        padding-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__logo {
            width: 75px;

            &:first-child {
                width: 150px;
            }

            &:last-child {
                margin-left: auto;
            }

            img {
                width: 100%;
            }

        }

        @include DESKTOP(){
            justify-content: unset;
            width: 70%;
        }

    }

    margin-bottom: 2.5rem;

    @include DESKTOP(){
        flex-direction: row;
        background: url(../../static/images/background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 4rem;
    }

    &__introduction {
        height: 100%;
        position: relative;
        z-index: 9;
        flex: 1;
    

        &__content {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;
                margin-top: 2.5rem;
                @include DESKTOP(){
                    width: 70%;
                }

            &__logo {
                margin-bottom: 2rem;
            }
    
            &__textblock {
    
                margin-bottom: 2rem;

                    .title {

                        margin-bottom: 2rem;

                        @include DESKTOP(){
                            text-align: left;
                        }

                    }

                

                
            }
    
            &__podcast {
                
                margin-bottom: 4rem;

                @include DESKTOP(){
                    margin-bottom: 1rem;
                    width: 550px;
                }
            }
        }

    }

    &__balloon {

        position: relative;
        flex: 1;
        margin: 1rem -16px 0 -16px;
        background: url(../../static/images/background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        height: 100%;
        justify-content: center;

        &__image {
            @include DESKTOP(){
                position: absolute;
                bottom: -125px;
            }
        }

        @include TABLET (){
            margin: 1rem -24px 0 -24px;
        }

        @include DESKTOP {
            background: unset;
        }

    }

}