.podcast {

    background: $color-green;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    box-shadow: 0px 10px 1rem rgb(0 0 0 / 30%);
    position: relative;
    transition: all ease-out 0.2s;

    &:hover {

        box-shadow: 0px 5px 0.1rem rgb(0 0 0 / 30%);
        transform: translateY(10px);

    }

    @include  TABLET(){
        flex-direction: row;
    }

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    &__portrait {
        position: relative;
        margin-right: 1rem;
        
        &__image {
            background: url(../../static/images/portrait.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 175px;
            height: 175px;

        }

        &__play-btn {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    &__content {
        padding: 1rem;
    }

}