p {
  text-align: center;
  font-size: 10px;
  color: #FFF;
}
table {
  margin: 0 auto;
}
td {
  border: 1px solid transparent;
  width: 45px;
  height: 45px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
.input_fields {
  background-color: #FFF;
  height: 45px;
  width: 45px;
  border: 0px;
  text-align: center;
  font-size: 20px;
  margin-right: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #FFF;

}

.blok {
  height: 45px;
  width: 45px;

  input {
    height: 40px;
    width: 40px;
  }

}

input:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  td {
    border: 1px solid transparent;
    width: 35px;
    height: 35px;
  }
  .input_fields {
    width: 35px;
    height: 35px;
  }
  .blok {
    width: 35px;
    height: 35px;
    input {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 425px) {
  td {
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
  }
  .input_fields {
    width: 30px;
    height: 30px;
  }
  .blok {
    width: 30px;
    height: 30px;
    input {
      width: 25px;
      height: 25px;
    }
  }
}


