/* FONT FAMILY */

@font-face {
    font-family: KPMG;
    font-weight: 100;
    src: url(../../static/fonts/KPMG-Light.otf);
}

@font-face {
    font-family: KPMG;
    font-weight: 400;
    src: url(../../static/fonts/UniversforKPMG-Light.ttf);
}

@font-face {
    font-family: KPMG;
    font-weight: 200;
    src: url(../../static/fonts/UniversforKPMG.ttf);
}

@font-face {
    font-family: KPMG;
    font-weight: bold;
    src: url(../../static/fonts/UniversforKPMG-Bold.ttf);
}

@font-face {
    font-family: KPMG-Light;
    font-weight: 100;
    src: url(../../static/fonts/UniversforKPMG-Light.ttf);
}


/* GENERAL FONT STYLING */

.title {

    font-size: 6.25rem;
    line-height: 6.25rem;
    font-weight: 100;
    margin-bottom: 1rem;

    @include TABLET(){
        font-size: 6.25rem;
        line-height: 6.25rem;
    }

    @include LAPTOP(){
        font-size: 6.5rem;
        line-height: 6rem;
    }



    &.center {
        text-align: center;
    }

}

.paragraph {
    
    color: $color-grey;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 200;

    &.oblique {
        font-family: KPMG-Light, sans-serif;
        font-weight: 100;
        font-size: 1rem;
        width: 450px;
        margin-top: 20px;
        margin-left: 10px;
        font-style: oblique;
        line-height: 2;

        ul {
            padding-left: 25px;
        }

        @media screen and (max-width: 600px) {
            width: 360px;
            margin: 20px auto 0px auto;
        }

        @media screen and (max-width: 400px) {
            width: 300px;
            margin-left: 5px;
        }

        &.light {
            font-weight: 400;
        }
    }

    .block {
        width: 1000px;
        font-size: 0.8rem;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }
}


.questions {
    p {
        width: 100%;
        height: 30px;
        font-size: 1rem;
        font-family: KPMG-Light, sans-serif;
        font-weight: 300;
        font-stretch: normal;
        font-style: oblique;
        line-height: 2;
        letter-spacing: normal;
        text-align: center;
        color: #c5c5c5;

        @media screen and (max-width: 500px) {
            width: 70%;
            margin: 20px auto 50px auto;
        }

        @media screen and (max-width: 400px) {
            width: 100%;
            margin: 20px auto 50px auto;
        }

        a {
            color: #0091da;

            @media screen and (max-width: 500px) {
                height: 50px;
                margin-top: 20px;
                text-align: center;
            }
        }

    }

    @media screen and (max-width: 400px) {
        width: 300px;
        height: 100px;
        line-break: normal;
        font-size: 0.8rem;
        margin: 0 auto;
    }

}

.bold-text {
    font-weight: bold;
}