/* RESPONSIVE */

@mixin SMARTPHONE(){
    @media screen and (max-width: 480px){
        @content;
    }
}

@mixin TABLET() {
    @media screen and (min-width: 481px) {
        @content;
    }
}

@mixin LAPTOP {
    @media screen and (min-width: 769px){
        @content;
    }
}

@mixin DESKTOP {
    @media screen and (min-width: 1201px) {
        @content;
    }
}